<div class="header-nav-articles" id="header-nav">
  <div class="container_16">
    <div id="articles-nav-top" class="grid_16">
      <ul class="tabs">
        <li><a href="#"><%= thtml('bio_title') %></a></li>
        <li><a href="#"><%= thtml('research_title') %></a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>