<div class="header-nav-articles" id="header-nav">
  <div class="container_16">
    <div id="articles-nav-top" class="grid_16"> 
      <ul class="tabs">
        <li><%= link_to(thtml('bio_title')) %></li>
        <li><%= link_to(thtml('research_title')) %></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>