<div id="site-content">
<%= render 'header' %>
<%= render 'navigation' %>
  <div class="container_16">
    <div id="ajaxloader" class="grid_2 prefix_7 suffix_7 alpha omega"><%= image_tag('ajax-loader.gif') %></div>
    <div class="panes">

    </div>
  </div>
</div>
<%= render 'tabs.js' %>