<%= render 'slideshow' %>
<div class="clear"></div>
<div id="first-paragraph" class="container_16 main-page-section">
  <div class="grid_10 alpha">
    <h2>Welcome</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec dolor tellus, eu imperdiet nulla. Curabitur volutpat enim dui, id dapibus purus. Quisque urna magna, eleifend rhoncus tempus vel, bibendum a ipsum. Fusce at vulputate ligula. Nam ut magna dolor, sit amet pulvinar mauris. Suspendisse potenti. Pellentesque nec est at lorem feugiat auctor sed at sem. Vestibulum sit amet felis urna. Quisque tortor tortor, porta a lobortis ac, faucibus id erat. In a augue odio, id dignissim libero. Nunc lacinia tempor arcu ut sagittis. Ut vel enim et erat imperdiet aliquet fermentum at arcu. Aliquam scelerisque rhoncus lectus, id vestibulum nunc blandit vel. Aenean vel risus id augue dignissim sagittis id a est. Nam nisi sem, ullamcorper in iaculis quis, hendrerit at diam.
  </div>
  <div class="grid_6 omega">       
    <%= render 'minigallery' %>
  </div>
</div>
<div class="clear"></div>

