body {font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}
a:focus {
    outline: 1px dotted;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}
h1 {
    font-size: 23px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 13px;
}
ol {
    list-style: decimal outside none;
}
ul {
    list-style: disc outside none;
}
li {
    margin-left: 40px;
    margin-bottom: 5px;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('comfortaa-regular-webfont.eot');
    src: url('comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('comfortaa-regular-webfont.woff') format('woff'),
         url('comfortaa-regular-webfont.ttf') format('truetype'),
         url('comfortaa-regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
