<div id="footer"> 
  <div class="container_16">
    <div class="grid_4">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e8f4cc3539080a0"></script>
        <!-- AddThis Button END -->  
      </div>
    </div>
    <div id="copyright" class="grid_5">
      <p>&copy; Copyright 2011 Dr Anastasios A. Mamalis</p>
    </div>
    <div class="grid_1">
      <h4 id="address-icon">
    </div>
    <div id="footer-address" class="grid_3">
        <p>Marasli 1 & Vasilisis Sofias<br/>
        Athens, Postal Code: 106 76
        </p>
    </div>
    <div class="grid_1">
      <h4 id="phone-icon">
    </div>
    <div id="footer-tel" class="grid_3">
      <p>+30 210 72 59 059</br>+30 210 72 58 878</p>
    </div>
  </div>
</div>
