<div id="footer">
  <div class="container_16">
    <div id="addthis" class="grid_4">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style=" position:relative; float:left;">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
        <a class="addthis_button_compact"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
      <!-- AddThis Button END -->
    </div>
    <div id="copyright" class="grid_5">
      <p>&copy; Copyright 2011 Dr Anastasios A. Mamalis</p>
    </div>
    <div class="grid_1">
      <%= image_tag('address-icon.png', :id => "address-icon") %>
    </div>
    <div id="footer-address" class="grid_3">
      <p><%= t('.address1') %>
        <%= t('.address2') %>
      </p>
    </div>
    <div class="grid_1">
      <%= image_tag('phone-icon.png', :id => "phone-icon") %>
    </div>
    <div id="footer-tel" class="grid_2">
      <p>+30 210 72 59 059 +30 210 72 58 878</p>
    </div>
  </div>
</div>
