<div id="footer"> 
  <div id="bottom">
    <div class="container_12">
      <div class="grid_2 sitelinks">
        <dl>
          <dt>Home</dt>
        </dl>
      </div>
      <div class="grid_2 sitelinks">
        <dl>
          <dt>More content?</dt>
          <dd><a href="">subcategory1</a></dd>
        </dl>
      </div>
      <div class="grid_2 sitelinks">
        <dl>
          <dt>Articles?</dt>
          <dd><a href="">Article1</a></dd>
          <dd><a href="">Article2</a></dd>
        </dl>
      </div>
      <div class="grid_2 sitelinks">
        <dl>
          <dt>Clinical cases?</dt>
          <dd>Case1</a></dd>
          <dd>Case2</a></dd>
        </dl>
      </div>
      <div class="grid_2 sitelinks">
        <dl>
          <dt>Links?</dt>
          <dd><a href="">Link1</a></dd>
          <dd><a href="">Link2</a></dd>
        </dl>
      </div>
      <div class="grid_2 sitelinks">
        <dl>
          <dt>Contact?</dt>
        </dl>
      </div>
      <div class="clear"></div>
      <div class="grid_12" id="copyright">
        <p class="copy">&copy; 2011 Dr Anastasios A. Mamalis</p>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
</div>
