  <div id="header">
    <div class="container_16">
      <div id="site-heading" class="grid_9"> <a href="/">
        <h1> <span id="logo">Dr. Anastasios A. Mamalis</span> </h1>
        </a>
        <h2 id="name">Dr. Anastasios A. Mamalis</h2>
        <h2 id="details1">BSC DDS MBA MSC PHD<br/>Periodontologist - Biochemist</h2>
        <h2 id="details2">Scientific Associate of University of Athens Dental School</h2>
      </div>
      <div class="grid_1">&nbsp;</div>
      <div id ="site_heading-rh" class="grid_4 prefix_2" >
        <div id="site-heading-rh-top"> <img id="lang" src="<%= asset_path 'greek.png' %>" /> <img id="lang" src="<%= asset_path 'english.png' %>" /> </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
