  <div id="main-nav">
    <div class="container_16">
      <ul id="nav-menu">
        <li><a href="/en/">Home</a></li>
        <li><a href="/en//">Meet the Doctor</a></li>
        <li><a href="/en/">Periodontology</a></li>
        <li><a href="/en/">Clinical Cases</a></li>
        <li><a href="/en//">Contact</a></li>
        <li><a href="/en/">Links</a></li>
      </ul>
    </div>
  </div>
