  <div id="main-nav">
    <div class="container_16">
      <ul id="nav-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Meet the Doctor</a></li>
        <li><a href="#">Periodontal Disease</a></li>
        <li><a href="#">Osseointegrated Dental Implants</a></li>
        <li><a href="#">Scientific Publications</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Links</a></li>
      </ul>
    </div>
  </div>
